<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.geopol.sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jcasal/Google Drive/FinantialScan/GeoPolGTrends/simple-sync.sh</string>
    </array>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/Users/jcasal/Google Drive/FinantialScan/TrendKeywords/simple-sync.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jcasal/Google Drive/FinantialScan/TrendKeywords/simple-sync-error.log</string>
</dict>
</plist>











